@{
  Layout = "_Layout";
}

<h1>Best University Student Enrollment</h1>
<a href="/students/new">Enroll New Student</a>
<a href="/">Return to Home</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Enrollment</th>
    </tr>
  </thead>
  <tbody>

    @foreach (var student in Model)
    {
      <tr>
        <td>@student.GetFirstName()</td>
        <td>@student.GetLastName()</td>
        <td>@student.GetDate()</td>
      </tr>
    }
  </tbody>
</table>
